<div>
  <md-toolbar color="primary">

    <span>Electric Supplies</span>

    <button md-button [routerLink]="['/product1']">{{product1}}</button>
    <button md-button>{{product2}}</button>
    <button md-button>{{product3}}</button>
    <span></span><span></span><span></span>

    <button md-button [md-menu-trigger-for]="menu">
      <span>Sign In </span><md-icon>people</md-icon>
    </button>

  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item [routerLink]="['/login']">Login</button>
    <button md-menu-item [routerLink]="['/create']">Create Account</button>
  </md-menu>
</div>
<div>
  <router-outlet></router-outlet>
</div>
