<div>
  <md-toolbar color="primary">

    <span>Electric Supplies</span>

    <button md-button [routerLink]="['/product1']">{{product1}}</button>
    <button md-button>{{product2}}</button>
    <button md-button>{{product3}}</button>
    <span></span><span></span><span></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>
</div>
<div>
  <router-outlet></router-outlet>
</div>
